doctype html
html
    head
        meta(chartset='utf-8')
    body
        form(action='upload' method='post' enctype="multipart/form-data" )
            input(type='file' name='userfile')
            input(type='submit')
            
    script(src="js/jquery-2.1.3.min.js")
    script(src="js/functions.js")
    script(src="js/fileserver.js")