body
    font-family: "Open Sans", sans-serif

h1
    color: #ccc
    font-size: 50px
    weight: 300

figure
    margin: auto

.content
    position: relative
    z-index: 2
    background: white
    
    article
        padding: 100px 0
        max-width: 900px
        margin: 0 auto
        text-align: center

img
    max-width: 100%
    
.head
    position: relative
    height: 900px
    background:
        image: url(../images/bird-bg.jpg)
        size: auto
        position: top center
        repeat: no-repeat
        attachment: fixed
    overflow: hidden
    z-index: 3

.logo_bak1
    height: 600px
    width: 100%
    background:
        image: url(../images/black-bird-logo.png)
        position: center
        repeat: no-repeat
    position: absolute
    top: 10%
    margin-top: -50px

.logo
    height: 900px
    width: 100%
    margin-top: 400px
    text-align: center
 

.fore-bird  
    width: 500px
    height: 733px
    background:
        image: url(../images/fore-bird.png)
        repeat: no-repeat
        position: right bottom
    position: absolute
    left: 80%
    margin-left: -200px
    top: 450px
    
.technology
    margin-bottom: 100px

    figure     
        margin-bottom: 20px
        position: relative
        opacity: 0
        transform: translateX(20px)
        transition: all 0.3s ease-in-out
        overflow: hidden
        cursor: pointer

        &.is-showing
            opacity: 1
            transform: translateX(0px)

        img
            display: block
            transform: scale(1)
            transition: all 0.3s ease-in-out

        &:hover
            figcaption
                left: 0%

    figcaption
        position: absolute
        bottom: 80px
        left: -100%
        background: black
        color: white
        padding: 2px 8px
        font-size: 11px
        transition: all 0.3s ease-in-out


.product
    height: 900px
    background:
        image: url(../images/bg_kontakt.jpg)
        position: center 0px
        repeat: repeat-y
        attachment: fixed
    margin-top: 100px
    margin-bottom: 100px
    border-radius: 80%
    position: relative

    .window-tint
        background-color: rgba(0,0,0,0.5)
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        border-radius: 80%
        display: flex
        justify-content: center
        align-items: center

    .promo-text
        color: white
        font-weight: 100
        font-size: 50px

        strong
            display: block
            font-size: 30px
        
        span
            font:
                weight: 300
                size: 18px
                style: italic
            color: rgba(255,255,255,0.5)

        .window-cta
            font-size: 20px
            text-decoration: none
            color: white
            border: 1px solid white
            padding: 10px 20px
            transition: all 0.3s ease-in-out

            &:hover
                background: white
                color: black

.team
    margin-top: 100px

    .post
        border: 1px solid #e1e1e1
        padding: 20px 20px 0
        background: white
        position: relative

    .post-1
        transform: translate(100px, 20px)

    .post-2
        -z-index: 2

    .post-3
        transform: translate(-100px, 20px)

footer1
    background: black
    color: white
    padding: 100px 0
    bottom: 0
    width: 100%
    margin-top: 30px
    text-align: center

    .footer-stuff
        max-width: 640px
        margin: 0 auto
    a
        color: white

.contact
    margin-bottom: 20px
    margin-top: 100px
    position: relative
    height: 150px
    background:
        size: auto
        position: top center
        repeat: no-repeat
        attachment: fixed
    overflow: hidden
    z-index: 3
    padding: 100px 0
    margin: 0 auto

    article
        text-align: center

.window-textbox
    width: 95%
    font-size: 20px
    position: fixed
    text-decoration: none
    background: white
        opacity: 0.8
    padding: 15px 65px
    transition: all 0.1s ease-in-out
    float: right

    &:hover
        background: gray
        opacity: 0.8

    ul
        float: right
        height: 40px
        margin: 0
        padding: 0

        li
            margin: 0
            padding: 15px 5px
            list-style: none
            float: left

            a
                text-transform: uppercase
                font-size: 12px

footer
    background:
        color: white
        image: url(../images/footer.png)
        position: center 0px
        repeat: repeat-y
        attachment: fixed
    padding: 100px 0
    opacity: 0.9
    bottom: 0
    width: 100%
    text-align: center
    margin-top: 20px
    margin-bottom: 50px
    position: relative